include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include sheets_sync *.css
recursive-include sheets_sync *.csv
recursive-include sheets_sync *.html
recursive-include sheets_sync *.ico
recursive-include sheets_sync *.js
recursive-include sheets_sync *.json
recursive-include sheets_sync *.md
recursive-include sheets_sync *.png
recursive-include sheets_sync *.py
recursive-include sheets_sync *.svg
recursive-include sheets_sync *.txt
recursive-exclude sheets_sync *.pyc